




.logo{
  padding: 1rem;
  background: blanchedalmond;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.title{
  margin-left: 2rem;
}
.nav{
  justify-content: space-between;
  
}